html,
body {
    margin: 0;
    padding: 0;
    color: lightgrey;
    line-height: 2em;
    background-color: rgb(68, 68, 68);
    font-weight: bold;
    user-select: none;
}


@-webkit-keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

.animation {
    animation-name: shake;
    animation-duration: 50ms;
}


main {
    margin: auto;
    padding: 50px;
    text-align: center;
}

#pointsall {
    font-size: 32px;
}

#passiveAll {
    font-size: 20px;
}

button {
    padding: 10px;
    width: 200px;
    font-weight: bolder;
    box-shadow: black 0px 5px 10px;

    transition-duration: 150ms;
}

button:hover{
    scale: 1.1;
    transition-duration: 150ms;
}


.upgrades {
    font-weight: bold;
    font-size: 22px;
}

#sklep {
    transition-duration: 250ms;
    overflow: hidden;
    opacity: 0%;
    background-color: gray;
    border: lightgray 1px solid;
    border-radius: 5px;
    width: 500px;
    margin: auto;
    padding: 20px;
    line-height: 5em;
}
