html,
body {
    margin: 0;
    padding: 0;
}

@-webkit-keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

.animation {
    animation-name: shake;
    animation-duration: 150ms;
}

body{
    background-color: rgb(246, 246, 246);
    font-weight: bold;
}

main {
    margin: auto;
    padding: 50px;
    text-align: center;
}

#pointsall {
    font-size: 32px;
}

#passiveAll {
    font-size: 20px;
}

button {
    padding: 10px;
    width: 150px;
    font-weight: bolder;
}

#upgrade1 {
    height: 75px;
}

.upgrades {
    font-weight: bold;
    font-size: 22px;
}

#sklep {
    height: 0px;
    transition-duration: 500ms;
    overflow: hidden;
    display: none;
    background-color: bisque;
    width: 500px;
    margin: auto;
    padding: 20px;
    
}
